<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379423361798-tkab41d5rdss1p2l6d6rt2oqon20q389.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379423361798-tkab41d5rdss1p2l6d6rt2oqon20q389</string>
	<key>API_KEY</key>
	<string>AIzaSyA-JfkN8TdCbQfDtcL4dCjF1b5jrEe91l8</string>
	<key>GCM_SENDER_ID</key>
	<string>379423361798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daniel.mymeals</string>
	<key>PROJECT_ID</key>
	<string>mymeals-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>mymeals-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379423361798:ios:73aacdeb6a07d5b0a46c87</string>
</dict>
</plist>